* {
  font-family: "Do Hyeon", sans-serif;
  font-style: normal;
}

.sidebar {
  width: 76px;
  background-color: RGB(72, 209, 204);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  margin-top: 100px;
}

.sidebar-item,
.sidebar-item-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  text-decoration: none;
}

.sidebar-item span {
  margin-top: 8px;
  font-size: 12px;
  color: #333;
}

.sidebar-item-home span {
  margin-top: 8px;
  font-size: 12px;
  color: #333;
}

#first-item {
  margin-bottom: 100px;
}

.sidebar-item:hover {
  transform: scale(1.1);
}

.sidebar-item-home:hover {
  transform: scale(1.1);
}

p {
  color: #000;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 0px;
}

.fa-user,
.fa-house {
  color: black;
  margin-top: 2px;
}

.sidebar-item.clicked i {
  color: #f3f4de;
}