@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
    font-family: "Do Hyeon", sans-serif;
    font-style: normal;
}

.todolist {
    position: fixed;
    top: 0px;
    right: 0px;
}

.listbtn {
    background-color: RGB(72, 209, 204);
    width: 30px;
    height: 30px;
    color: white;

    position: absolute;
    top:115px;
    right: 50px;

    font-size: 15px;

    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    border: 1px solid white;
  
    transition: background-color 0.3s ease;
  }

 .listbtn:hover {
    background-color: rgb(17, 150, 146);
    cursor: pointer;
  }

.box {
    background-color: white;
    width: 300px;
    height:fit-content;

    box-sizing: border-box;
    padding: 20px 15px;

    position: absolute;
    top: 147px;
    right: 50px;
    
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.box .top {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.top > h1 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.top > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
}

.top > form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    gap: 12px;
}

.top > form .text {
    background-color: rgb(235, 235, 235);
    height: 28px;
    width: 175px;
    font-size: 16px;

    border: none;
    border-radius: 15px;
    padding-left: 20px;
}

.top > form .add {
    background-color: rgb(200, 200, 200);
    color: white;

    width: 30px;
    height: 30px;
    font-size: 15px;

    box-sizing: border-box;
    border: none;
    border-radius: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.top > form .add:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.box > .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.list .todo {
    background-color: white;
    width: 250px;
    height: 38px;

    box-sizing: border-box;
    padding: 0px 20px;
    border-radius: 30px;
    border: 2px solid rgba(215, 215, 215, 0.5);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 5px;
    margin-bottom: 13px /*auto*/;
}

.list .todo .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox .checkmark {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #cccccc;
    border-radius: 5px;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: rgb(27, 209, 204);
}

.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.content {
    display: flex;
    align-items: center;
}

.content .info {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
}

.list .todo .delete {
    background-color: rgb(144, 144, 144);
    color: white;
    font-size: 10px;

    height: 18px;
    width: 18px;

    border: none;
    border-radius: 50%;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  
    cursor: pointer;
    transition: opacity 0.1s ease;
  }

 .delete:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
.hide {
    display: none;
}

  .strikethrough {
    text-decoration: line-through solid black;
    text-decoration-thickness: 2px;
}